<div class="row">
    <div class="col-sm-3 col-xs-12 col-lg-3 col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Free Course</h5>
          <p class="card-text">10</p>
          <!-- <a href="#" class="btn btn-primary">Updates</a> -->
          <hr>
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 col-lg-3 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Paid Course</h5>
            <p class="card-text">5</p>
             <!-- <a href="#" class="btn btn-primary">Updates</a> -->
          <hr>
          <i class="fa fa-refresh" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12 col-lg-3 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">B.Tech</h5>
            <p class="card-text">10</p>
             <!-- <a href="#" class="btn btn-primary">Updates</a> -->
          <hr>
          <i class="fa fa-refresh" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    <div class="col-sm-3 col-xs-12 col-lg-3 col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Biology</h5>
          <p class="card-text">2</p>
           <!-- <a href="#" class="btn btn-primary">Updates</a> -->
           <hr>
           <i class="fa fa-refresh" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
